@model OnlineShop.ViewModels.KorpaProizvodVM
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert-success text-success p-3 rounded mb-3">
    <h1>Vaša narudžba je uspješno izvršena</h1>
</div>